.aqi-chart-wrap{margin-left:30px;}

.dayformat{float:left;
width:8px;margin-left:5px;}

.weekformat{
	float:left;
width:25px;margin-left:15px;
}

.monthformat{
	float:left;
width:80px;margin-left:35px;
}