.moretags{
	display: inline-block;
	margin: 5px;
	font-size: 25px;
	color:steelBlue;
	background-color: lightBlue;
	cursor: pointer;
}


.interest{
	background-color:orange;
	color:white;
	margin:5px;
	display: inline-block;
	cursor: pointer;
	padding: 2px;
}